body, html {
  background: #FBD3E9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  height: 100vh;
}

h1.heading {
  margin-top: 0px;
  margin-bottom: 10px;
}

.loadingMessage {
  font-size: 40px;
  text-align: center;
}

.cakes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cake {
  display: flex;
  flex-direction: row;
  width: 200px;
  background-color: #90c8ff;
  border: 2px solid darkblue;
  padding: 0.5em;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  font-stretch: ultra-expanded;
  margin: 10px;
  cursor: pointer;
}

.cakeName {
  margin-right: 5px;
}

.cakeName {
  margin-left: 5px;
  font-weight: bold;
}

.cakeThumbnail {
  height: 100px;
}

.backToHome {
  background-color: #90c8ff;
  width: 280px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  padding: 0.5em;
  font-stretch: ultra-expanded;
  font-size: 20px;
  margin-bottom: 20px;
}

.backToHome:hover {
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  border: 1px solid black;
}

.cakeInstructions, .ingredients {
  text-align: left;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 1em;
  margin: 20px 20px;
  border-radius: 5px;
}

.ingredients {
  text-align: center;
}

.ingredients > p {
  margin: 0px 20px;
}

h3.heading {
  text-align: center;
}

.cakeTitle {
  font-size: 25px;
  font-weight: bold;
}

.cuisine {
  font-size: 18px;
}

@media only screen and (max-device-width: 480px) {
  .cakeInstructions {
    width: 300px;
    text-align: left;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 1em;
    margin: 20px 20px;
    border-radius: 5px;
  }

  .youtubeDemonstration {
    width: 336px;
    height: 189px;
  }

  h3.heading {
    text-align: center;
    margin-top: 0;
  }

}
